---
const { text = "KapiLabs Astro Theme Framework" } = Astro.props;
---

<div class="announcement-bar">
  <div class="site-container">
    {text}
  </div>
</div>

<style>
  .announcement-bar {
    background: #111827;
    color: white;
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
  }
</style>

